.flex-container {
    flex-wrap: wrap;
    display: flex;
justify-content: space-evenly;
flex-direction: row-reverse;
}
.flex-container > div > img 
{
     width: 400; 
     height:200px;
     border-radius: 8px;
}
